<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhi.system.mapper.BlogMessageMapper">

    <resultMap type="BlogMessage" id="BlogMessageResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickname"    column="nickname"    />
        <result property="email"    column="email"    />
        <result property="website"    column="website"    />
        <result property="content"    column="content"    />
        <result property="replyContent"    column="reply_content"    />
        <result property="replyTime"    column="reply_time"    />
        <result property="replyBy"    column="reply_by"    />
        <result property="status"    column="status"    />
        <result property="ip"    column="ip"    />
        <result property="userAgent"    column="user_agent"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectPublishedMessageVo">
        select id, user_id, nickname, website, content, reply_content, reply_time, status, create_time
        from blog_message
    </sql>

    <sql id="selectBlogMessageVo">
        select id, user_id, nickname, email, website, content, reply_content, reply_time, reply_by,
               status, ip, user_agent, create_by, create_time, update_by, update_time, del_flag
        from blog_message
    </sql>

    <select id="selectBlogMessageList" parameterType="BlogMessage" resultMap="BlogMessageResult">
        <include refid="selectBlogMessageVo"/>
        <where>
            <if test="nickname != null and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="content != null and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            and del_flag = '0'
        </where>
        order by id desc
    </select>

    <select id="selectPublishedMessageList" resultMap="BlogMessageResult">
        <include refid="selectPublishedMessageVo"/>
        where status = '1' and del_flag = '0'
        order by id desc
    </select>

    <select id="selectBlogMessageById" parameterType="Long" resultMap="BlogMessageResult">
        <include refid="selectBlogMessageVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectPublishedMessageCount" resultType="Long">
        select count(1) from blog_message where status = '1' and del_flag = '0'
    </select>

    <insert id="insertBlogMessage" parameterType="BlogMessage" useGeneratedKeys="true" keyProperty="id">
        insert into blog_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="email != null">email,</if>
            <if test="website != null">website,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="replyContent != null">reply_content,</if>
            <if test="replyTime != null">reply_time,</if>
            <if test="replyBy != null">reply_by,</if>
            <if test="status != null">status,</if>
            <if test="ip != null">ip,</if>
            <if test="userAgent != null">user_agent,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="email != null">#{email},</if>
            <if test="website != null">#{website},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="replyContent != null">#{replyContent},</if>
            <if test="replyTime != null">#{replyTime},</if>
            <if test="replyBy != null">#{replyBy},</if>
            <if test="status != null">#{status},</if>
            <if test="ip != null">#{ip},</if>
            <if test="userAgent != null">#{userAgent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBlogMessage" parameterType="BlogMessage">
        update blog_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="website != null">website = #{website},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="replyContent != null">reply_content = #{replyContent},</if>
            <if test="replyTime != null">reply_time = #{replyTime},</if>
            <if test="replyBy != null">reply_by = #{replyBy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogMessageById" parameterType="Long">
        update blog_message set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteBlogMessageByIds" parameterType="String">
        update blog_message set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
