<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhi.system.mapper.BlogUploadMapper">

    <resultMap type="BlogUpload" id="BlogUploadResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="originalName"    column="original_name"    />
        <result property="url"    column="url"    />
        <result property="mimeType"    column="mime_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="uploadType"    column="upload_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBlogUploadVo">
        select id, file_name, original_name, url, mime_type, file_size, upload_type, create_by, create_time
        from blog_upload
    </sql>

    <select id="selectBlogUploadList" parameterType="BlogUpload" resultMap="BlogUploadResult">
        <include refid="selectBlogUploadVo"/>
        <where>
            <if test="fileName != null and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="originalName != null and originalName != ''"> and original_name like concat('%', #{originalName}, '%')</if>
            <if test="uploadType != null and uploadType != ''"> and upload_type = #{uploadType}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectBlogUploadById" parameterType="Long" resultMap="BlogUploadResult">
        <include refid="selectBlogUploadVo"/>
        where id = #{id}
    </select>

    <insert id="insertBlogUpload" parameterType="BlogUpload" useGeneratedKeys="true" keyProperty="id">
        insert into blog_upload
        (file_name, original_name, url, mime_type, file_size, upload_type, create_by)
        values (#{fileName}, #{originalName}, #{url}, #{mimeType}, #{fileSize}, #{uploadType}, #{createBy})
    </insert>

    <delete id="deleteBlogUploadById" parameterType="Long">
        delete from blog_upload where id = #{id}
    </delete>
</mapper>
