<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BlogSettingMapper">
    
    <resultMap type="BlogSetting" id="BlogSettingResult">
        <result property="id"    column="id"    />
        <result property="settingKey"    column="config_key"    />
        <result property="settingValue"    column="config_value"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogSettingVo">
        select id, config_key, config_value, description, create_time, update_time from blog_setting
    </sql>

    <select id="selectBlogSettingList" parameterType="BlogSetting" resultMap="BlogSettingResult">
        <include refid="selectBlogSettingVo"/>
        <where>  
            <if test="settingKey != null  and settingKey != ''"> and config_key like concat('%', #{settingKey}, '%')</if>
            <if test="settingValue != null  and settingValue != ''"> and config_value like concat('%', #{settingValue}, '%')</if>
        </where>
    </select>
    
    <select id="selectSettingValueByKey" parameterType="String" resultType="String">
        select config_value from blog_setting where config_key = #{settingKey}
    </select>
    
    <select id="selectBlogSettingById" parameterType="Long" resultMap="BlogSettingResult">
        <include refid="selectBlogSettingVo"/>
        where id = #{id}
    </select>

    <insert id="insertBlogSetting" parameterType="BlogSetting" useGeneratedKeys="true" keyProperty="id">
        insert into blog_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="settingKey != null and settingKey != ''">config_key,</if>
            <if test="settingValue != null and settingValue != ''">config_value,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="settingKey != null and settingKey != ''">#{settingKey},</if>
            <if test="settingValue != null and settingValue != ''">#{settingValue},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBlogSetting" parameterType="BlogSetting">
        update blog_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="settingKey != null and settingKey != ''">config_key = #{settingKey},</if>
            <if test="settingValue != null and settingValue != ''">config_value = #{settingValue},</if>
            <if test="description != null">description = #{description},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateSettingValueByKey">
        update blog_setting set config_value = #{settingValue}, update_time = now()
        where config_key = #{settingKey}
    </update>

    <delete id="deleteBlogSettingById" parameterType="Long">
        delete from blog_setting where id = #{id}
    </delete>

    <delete id="deleteBlogSettingByIds" parameterType="String">
        delete from blog_setting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>