<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BlogBookmarkMapper">

    <resultMap type="BlogBookmark" id="BlogBookmarkResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="articleId" column="article_id"/>
        <result property="createTime" column="create_time"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectBlogBookmarkVo">
        SELECT id, user_id, article_id, create_time, tenant_id FROM blog_bookmark
    </sql>

    <select id="selectBlogBookmarkList" parameterType="BlogBookmark" resultMap="BlogBookmarkResult">
        <include refid="selectBlogBookmarkVo"/>
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="articleId != null">
                AND article_id = #{articleId}
            </if>
        </where>
    </select>

    <select id="selectBlogBookmarkById" parameterType="Long" resultMap="BlogBookmarkResult">
        <include refid="selectBlogBookmarkVo"/>
        WHERE id = #{id}
    </select>

    <insert id="insertBlogBookmark" parameterType="BlogBookmark" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_bookmark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            NOW()
        </trim>
    </insert>

    <delete id="deleteBlogBookmarkById" parameterType="Long">
        DELETE FROM blog_bookmark WHERE id = #{id}
    </delete>

    <delete id="deleteBlogBookmarkByUserIdAndArticleId">
        DELETE FROM blog_bookmark WHERE user_id = #{userId} AND article_id = #{articleId}
    </delete>

    <select id="existsBookmark" resultType="int">
        SELECT COUNT(*) FROM blog_bookmark WHERE user_id = #{userId} AND article_id = #{articleId}
    </select>

    <select id="selectBookmarksByUserId" parameterType="Long" resultMap="BlogBookmarkResult">
        <include refid="selectBlogBookmarkVo"/>
        WHERE user_id = #{userId}
        ORDER BY create_time DESC
    </select>

</mapper>
