<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BlogTagMapper">
    
    <resultMap type="BlogTag" id="BlogTagResult">
        <result property="tagId"    column="id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="articleCount"    column="article_count"    />
        <result property="description"    column="description"    />
        <result property="color"    column="color"    />
        <result property="icon"    column="icon"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectBlogTagVo">
        select 
            bt.id, 
            bt.name as tag_name, 
            bt.description,
            bt.color,
            bt.icon,
            bt.create_time, 
            bt.update_time, 
            bt.del_flag,
            COUNT(bat.article_id) as article_count
        from blog_tag bt
        left join blog_article_tag bat on bt.id = bat.tag_id
        left join blog_article ba on bat.article_id = ba.id and ba.status = 1 and ba.del_flag = 0
    </sql>

    <select id="selectBlogTagList" parameterType="BlogTag" resultMap="BlogTagResult">
        <include refid="selectBlogTagVo"/>
        <where>  
            <if test="tagName != null  and tagName != ''"> and bt.name like concat('%', #{tagName}, '%')</if>
            and bt.del_flag = 0
        </where>
        group by bt.id, bt.name, bt.description, bt.color, bt.icon, bt.create_time, bt.update_time, bt.del_flag
    </select>
    
    <select id="selectAllTagList" resultMap="BlogTagResult">
        <include refid="selectBlogTagVo"/>
        where bt.del_flag = 0
        group by bt.id, bt.name, bt.description, bt.color, bt.icon, bt.create_time, bt.update_time, bt.del_flag
    </select>
    
    <select id="selectBlogTagById" parameterType="Long" resultMap="BlogTagResult">
        <include refid="selectBlogTagVo"/>
        where bt.id = #{tagId} and bt.del_flag = 0
        group by bt.id, bt.name, bt.description, bt.color, bt.icon, bt.create_time, bt.update_time, bt.del_flag
    </select>
    
    <select id="checkTagNameUnique" parameterType="String" resultMap="BlogTagResult">
        <include refid="selectBlogTagVo"/>
        where bt.name = #{tagName} and bt.del_flag = 0
        group by bt.id, bt.name, bt.description, bt.color, bt.icon, bt.create_time, bt.update_time, bt.del_flag
        limit 1
    </select>
    
    <select id="checkTagExistArticle" parameterType="Long" resultType="Integer">
        select count(1) from blog_article_tag where tag_id = #{tagId}
    </select>

    <select id="getTagCloud" resultType="map">
        SELECT 
            bt.id,
            bt.name,
            bt.color,
            COUNT(bat.article_id) as article_count
        FROM blog_tag bt
        LEFT JOIN blog_article_tag bat ON bt.id = bat.tag_id
        LEFT JOIN blog_article ba ON bat.article_id = ba.id AND ba.status = 1 AND ba.del_flag = 0
        WHERE bt.del_flag = 0
        GROUP BY bt.id, bt.name, bt.color
        ORDER BY article_count DESC, bt.create_time DESC
    </select>

    <select id="selectTagsByArticleId" parameterType="Long" resultMap="BlogTagResult">
        select 
            bt.id, 
            bt.name as tag_name, 
            bt.description,
            bt.color,
            bt.icon,
            bt.create_time, 
            bt.update_time, 
            bt.del_flag
        from blog_tag bt
        inner join blog_article_tag bat on bt.id = bat.tag_id
        where bat.article_id = #{articleId} and bt.del_flag = 0
    </select>

    <insert id="insertBlogTag" parameterType="BlogTag" useGeneratedKeys="true" keyProperty="tagId">
        insert into blog_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">name,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="color != null and color != ''">color,</if>
            <if test="icon != null and icon != ''">icon,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="color != null and color != ''">#{color},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBlogTag" parameterType="BlogTag">
        update blog_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">name = #{tagName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="color != null and color != ''">color = #{color},</if>
            <if test="icon != null and icon != ''">icon = #{icon},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{tagId}
    </update>

    <delete id="deleteBlogTagById" parameterType="Long">
        update blog_tag set del_flag = 1 where id = #{tagId}
    </delete>

    <delete id="deleteBlogTagByIds" parameterType="String">
        update blog_tag set del_flag = 1 where id in 
        <foreach item="tagId" collection="array" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </delete>
</mapper>